<ion-header>
  <ion-toolbar>
    <ion-title>Uberman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--NAV BAR-->
  <ion-toolbar class="innerToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="atras()"><i class="fa-solid fa-house-chimney"></i></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><i class="fa-solid fa-cart-shopping"></i></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><i class="fa-solid fa-user-tie"></i></ion-button>
    </ion-buttons>

    <ion-title slot="start">ProveedorPlus </ion-title>
  </ion-toolbar>
  <!--NAV BAR-->

  <ion-item>
    <ion-label>
      <h2>Lo mejor de la marca</h2>
    </ion-label>
  </ion-item>
  <p>
    <b>Uberman</b> es la solución más completa para los profesionales más
     exigentes. Siempre innovando en calidad, diseño, rendimiento y seguridad para 
     un máximo desempeño.
  </p>

  <ion-slides>
    <ion-slide *ngFor="let Uberman of listaUberman; let i = index">
      <div class="slide">
        <img [src]="Uberman.imagenUrl" />
        <h2>{{Uberman.Nombre  | json }}</h2>
        <p>
          {{Uberman.Descripcion  | json }}
        </p>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>