<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--NAV BAR-->
  <ion-toolbar class="navBar">
    <ion-buttons slot="secondary">
      <ion-button (click)="go()" class="car">
        <img src="assets\img\tooLogo.png" alt="">
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-input [(ngModel)]="Buscar" placeholder="Buscar" type="text"></ion-input>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!--NAV BAR-->

  <!--SLIDE-->
  <ion-slides style="height: 400px;">
    <ion-slide>
      <div class="slide">
        <img src="assets\img\taladro.jpg" class="imgSlide" (click)="comprar()"/>
        <h2>Taladro Dewalt</h2>
        <p>
          TALADRO PERCUTOR <b>1/2 PULG</b> DEWALT DW505
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="assets\img\tronzador.jpg" class="imgSlide"/>
        <h2>Combo Dewalt</h2>
        <p>
          COMBO TRONZADOR <b>14 PULG</b> 2200W + PULIDORA <b>4-1/2 PULG</b>
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="assets\img\cargadorDewalt.jpg" class="imgSlide" />
        <h2>Combo Dewalt</h2>
        <p>
          CARGADOR BATERIA VOLTAJE<b> 12V MAX-20V MAX</b> 2200W + PULIDORA <b>4-1/2 PULG</b>
        </p>
      </div>
    </ion-slide>
  </ion-slides>
  <!--SLIDE-->
 
  <!--CARD-->
  <ion-card>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <!--CARD-->

</ion-content>
