img{
    width: 100%;
    height: 100%;
}

img.imgSlide{
    height: 10%; 
    width: 80%;
}

ion-icon{
    color: #03204e;
}

ion-content{
    --ion-background-color: #141416;
}

ion-header{
    --ion-background-color: #141416;
}

ion-card{
    --ion-background-color: #ffffff;
    border-radius: 10px;
    .innerCard{
        --ion-background-color: #ffffff;
    }
}

ion-card.Menu{
    width: 85px;
    height: 100px;
}

ion-card.Pedidos{
    height: 180px; 
    width: 120px;
    ion-card-subtitle{
        margin-top: 20px;
    }
}

ion-grid.gridTres{
    margin-top: 20px;
}

ion-item.buscar{
    margin-left: 45%;
    color: #ffffff;
}

ion-label.SecondGrid{
    color: #ffffff;
    margin-left: 7%;
}

ion-toolbar{
    color: #ffffff;
}

ion-footer{
    --ion-background-color: #1e1e1e;
    color: #ffffff;
}

img{
    width: 40px;
    height: 40px;
}

h2{
    text-align: center;
    color: #03204e;
}

i{
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    color: #BB86FC;
}