<ion-header>
  <ion-toolbar>
    <ion-title>Stanley</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--NAV BAR-->
  <ion-toolbar class="innerToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="atras()"><i class="fa-solid fa-house-chimney"></i></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><i class="fa-solid fa-cart-shopping"></i></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><i class="fa-solid fa-user-tie"></i></ion-button>
    </ion-buttons>

    <ion-title slot="start">ProveedorPlus </ion-title>
  </ion-toolbar>
  <!--NAV BAR-->

  <ion-item>
    <ion-label>
      <h2>Lo mejor de la marca</h2>
    </ion-label>
  </ion-item>
  <p>
    <b>STANLEY®</b> es un fabricante global de herramientas manuales, mecánicas y 
    accesorios, y una marca insignia de la corporación Stanley Black & Decker.
  </p>

  <ion-slides>
    <ion-slide *ngFor="let martillo of listaMartillos; let i = index">
      <div class="slide">
        <img [src]="martillo.imagenUrl" />
        <h2>{{martillo.nombre  | json }}</h2>
        <p>
          {{martillo.Descripcion  | json }}
        </p>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>