<ion-header>
  <ion-toolbar>
    <ion-title>Metros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--NAV BAR-->  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="atras()"><i class="fa-solid fa-house-chimney"></i></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><i class="fa-solid fa-cart-shopping"></i></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><i class="fa-solid fa-user-tie"></i></ion-button>
    </ion-buttons>

    <ion-title slot="start">ProveedorPlus </ion-title>
  </ion-toolbar>
  <!--NAV BAR-->

 <!--CARD-->
 <ion-card>
  <ion-card-content>
    <ion-card
      *ngFor="let metro of listaMetros; let i = index"
      class="innerCard"
      (click)="factura(i)"
    >
      <img [src]="metro.imagenUrl" (click)="factura(i)" />
      <ion-card-header>
        <ion-card-subtitle key="">
          {{metro.marca | json }}
        </ion-card-subtitle>
        <ion-card-title> {{metro.descripcion | json }} </ion-card-title>
        <ion-card-subtitle key="">
          {{metro.precios | json }}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-card-content>
</ion-card>

</ion-content>
