<ion-header>
  <ion-toolbar>
    <ion-title>Pruebas2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="primary">
    <ion-title>Service!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteItem()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

      <ion-button (click)="ToggleReorder()">
        <ion-icon slot="icon-only" name="reorder-four"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/add-edit-item', {tab:tabIntext,item:-1}]">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <ion-list #myList lines="full">      
      <ion-reorder-group [disabled]="!reorder"(ionItemReorder)="moveItem($event.detail)">
        <ion-item-sliding *ngFor="let item of tabs[tabIndex].list; let i=index">
          <ion-item [routerLink]="['/add-edit-item', {tab:tabIntext,item:i}]">
            <ion-label class="ion-text-wrap">
              <h2>{{item.titulo}}</h2>
              <p>{{item.date.substring(0,10)}}</p>
            </ion-label>
            <ion-icon slot="end" [name]="item-icon"></ion-icon>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="deleteItem(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-tab-bar #myTabs color="primary" [selectedTab]="tabs[0].label">
      <ion-tab-button *ngFor="let tab of tabs; let i=index" (click)="setTab(i)" [tab]="tab.label">
        <ion-label>{{tab.label}}</ion-label>
        <ion-icon [name]="tab.icon"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>

</ion-content>