<ion-header>
  <ion-toolbar>
    <ion-title>pruebas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-content>
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <ion-avatar slot="start">
            <img [src]="usuario.picture.medium">
          </ion-avatar>
          <ion-label>
            <h2>{{usuario.name.first}}</h2>
            <h2>{{usuario.name.last}}</h2>
            <h2>{{usuario.email}}</h2>
            <h2>{{usuario.phone}}</h2>
            <h2>{{usuario.location.city}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="cargar()">Mostrar Usuarios</ion-button>
      <ion-button expand="block" (click)="Post()">Peticion Post</ion-button>
    </ion-content>

</ion-content>
