<ion-header>
  <ion-toolbar>
    <ion-title>pruebas</ion-title>
    <img src="..\assets\img\login2.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let usuario of usuarios">
        <ion-avatar slot="start">
          <img [src]="usuario.picture.medium" />
        </ion-avatar>
        <ion-label>
          <h2>{{usuario.name.first}}</h2>
          <h2>{{usuario.name.last}}</h2>
          <h2>{{usuario.email}}</h2>
          <h2>{{usuario.phone}}</h2>
          <h2>{{usuario.location.city}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="cargar()">Mostrar Usuarios</ion-button>
    <!-- <ion-button expand="block" (click)="Post()">Peticion Post</ion-button>-->

    <!--PRUEBAS ION CARD ESTILOS-->
    <ion-card *ngFor="let usuario of usuarios">
      <ion-card-content>
        <ion-card class="innerCard">
          <img  [src]="usuario.picture.medium"/>
          <ion-card-header>
            <ion-card-subtitle>{{usuario.name.first}}</ion-card-subtitle>
            <ion-card-title>{{usuario.location.city}}</ion-card-title>
          </ion-card-header>
        </ion-card>  
      </ion-card-content>
    </ion-card>


    <ion-card *ngFor="let item of items">
      <ion-card-header>
        <ion-card-subtitle> {{item.titulo}} </ion-card-subtitle>
        <ion-card-title> {{item.descripcion}} </ion-card-title>
          <img [src]=item.imagenUrl />
      </ion-card-header>
    </ion-card>

    <div *ngIf="mostrar; else elseBlock">
      <ion-card *ngFor="let item of items">
        <ion-card-header>
          <ion-card-subtitle> {{item.titulo}} </ion-card-subtitle>
          <ion-card-title> {{item.descripcion}} </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <ng-template #elseBlock>
      <ion-card>
        <ion-header>
          <ion-card-title>No existen registros! </ion-card-title>
        </ion-header>
      </ion-card>
    </ng-template>

    <ion-card>
      <ion-card-title>Create user</ion-card-title>
      <ion-card-content>
        <ion-input type="text" [(ngModel)]="userName" placeholder="Name"></ion-input>
        <ion-input type="text" [(ngModel)]="userAge" placeholder="Age"></ion-input>
        <ion-input type="text" [(ngModel)]="userAddress" placeholder="Address"></ion-input>
      
        <ion-button (click)="createRecord()" expand="full" color="success">Guardar</ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-card *ngFor="let item of user">
      <ion-card-header>
        <ion-card-title>Get user</ion-card-title>
        <ion-card-subtitle>{{item.Name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Age: {{item.Age}} <br> Address {{item.Address}}</ion-card-content>
    </ion-card>

    <ion-card>
      <ion-input type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email"></ion-input>
      <ion-input type="password" placeholder="Ingrese su constraseña"[(ngModel)]="usuario.password"></ion-input>
      <ion-button (click)="altaUsuario()">Alta Usuario</ion-button>
    </ion-card>

    <h6>Lista usuarios</h6>
    <ul>
      <li *ngFor="let user of listaUsuarios" (click)="eliminar(user.id)">{{user | json}}</li>
      <!--<li *ngFor="let user of listaUsuarios" (click)="obtenerPorId(user.id)">{{user | json}}</li>-->
    </ul>

    <ion-button (click)="modificar()">Modificar usuario</ion-button>

  </ion-content>
</ion-content>
