<ion-header [translucent]="true" class="masterHeader">
  <ion-toolbar>
    <ion-title>
      Proveedor Plus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login">
  <ion-header collapse="condense">
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Iniciar sesion</ion-card-subtitle>
      <ion-card-title>Acceder</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-item>
        <ion-label position="floating"> <i class="fa-solid fa-user-astronaut"></i> Correo electronico</ion-label>
        <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> <i class="fa-solid fa-lock"></i> Contraseña </ion-label>
        <ion-input [(ngModel)]="clave" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-button (click)="go()">Iniciar</ion-button> 
      <ion-card-subtitle (click)="registro()">Crear usuario</ion-card-subtitle>
      <ion-card-subtitle (click)="prueba()">PRUEBAS</ion-card-subtitle>

    </ion-card-content>
  </ion-card>
  
</ion-content>