#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header.masterHeader{
  --ion-background-color: #c8cac8;  
  ion-title{
    color: #03204e;
  }
}

ion-content.login{
  --ion-background-color: #c8cac8;
  ion-card-subtitle{
    color: #03204e;    
  }
  ion-card-title{
    color: #03204e;
  }
}

ion-card{
  height: 350px;
  border-radius: 15px;
  --ion-background-color: #e4e4e4;
}

ion-button{
  margin-top: 15%;
  --background: #03204e;
}