<ion-header [translucent]="true" class="masterHeader">
  <ion-toolbar>
    <ion-title>
      Proveedor Plus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login">
  <ion-header collapse="condense">
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesion</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <form [formGroup]="credentials" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating"> <i class="fa-solid fa-user-astronaut" style="color: #BB86FC;"></i> Correo electronico</ion-label>
          <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"> Email invalido</ion-note>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating"> <i class="fa-solid fa-lock" style="color: #BB86FC;"></i> Contraseña </ion-label>
          <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"> Contraseña invalida</ion-note>
        </ion-item>
  
        <ion-button type="submit" [disabled]="!credentials.valid">Iniciar</ion-button>
        <ion-button type="button" (click)="registro()">Crear Cuenta</ion-button> 
      </form>
    
      <!--<ion-card-subtitle (click)="registro()">Crear usuario</ion-card-subtitle>
      <ion-card-subtitle (click)="prueba()">PRUEBAS</ion-card-subtitle>-->

    </ion-card-content>
    <i class="fa-brands fa-twitter fa-3x"></i>
    <i class="fa-brands fa-google fa-3x"></i>
    <i class="fa-brands fa-facebook fa-3x"></i>
  </ion-card>
  
</ion-content>

