<ion-header>
  <ion-toolbar>
    <ion-title>AddEditItem</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="save()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">Selec date</ion-label>
      <ion-datatime display="D MM YYYY" max="2050-12-31"
      [(ngModel)]="item.date"></ion-datatime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Enter Task</ion-label>
      <ion-input [(ngModel)]="item.task"></ion-input>

    </ion-item>
  </ion-list>

  <ion-segment  [(ngModel)]="item.icon">
    <ion-segment-button *ngFor="let button of buttons" [value]="button">
      <ion-icon [name]="button"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-content>
