<ion-header [translucent]="true" class="masterHeader">
  <ion-toolbar>
    <ion-title> Registro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login">
  <ion-header collapse="condense"> </ion-header>

  <img src="assets\img\login2.png" alt="" />

  <form
    [formGroup]="credentials"
    (ngSubmit)="login()"
    class="card"
    style="position: absolute; top: 100px; height: max-content"
  >
    <div class="row">
      <div class="col">
        <div class="form-group">
          <ion-label>Nombre</ion-label>
          <ion-input formControlName="name" placeholder="Nombre" type="text"></ion-input>
          <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors"> Email invalido</ion-note>
        </div>
      </div>

      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.name.errors?.required"
      >
        El nombre es necesario
      </span>
      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.name.errors?.minlength"
      >
        El nombre podra tener minimo 2 caracteres.
      </span>

      <div class="col">
        <div class="form-group">
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"> Contraseña invalida</ion-note>
        </div>
      </div>

      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.email.errors?.required"
      >
        El correo electronico es necesario
      </span>
      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.email.errors?.pattern"
      >
        Por favor ingrese un correo valido.
      </span>

      <div class="col">
        <div class="form-group">
          <ion-label>Contraseña</ion-label>
          <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"> Contraseña invalida</ion-note>
        </div>
      </div>

      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.password.errors?.required"
      >
        El correo electronico es necesario
      </span>
      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.password.errors?.pattern"
      >
        Por favor ingrese un correo valido.
      </span>

      <div class="col">
        <div class="form-group">
          <ion-label>Celular</ion-label>
          <ion-input formControlName="celular" placeholder="Celular" type="text"></ion-input>
          <ion-note slot="error" *ngIf="(celular.dirty || celular.touched) && celular.errors"> Email invalido</ion-note>
        </div>
      </div>
      
      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.celular.errors?.required"
      >
        El numero celular es necesario
      </span>
      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.celular.errors?.pattern"
      >
        Solo se permiten valores numericos.
      </span>

      <div class="col">
        <div class="form-group">
          <ion-label>Direccion</ion-label>
          <ion-input formControlName="addres" placeholder="Direccion" type="text"></ion-input>
          <ion-note slot="error" *ngIf="(addres.dirty || addres.touched) && addres.errors"> Email invalido</ion-note>
        </div>
      </div>
      
      <span
        class="error ion-padding"
        *ngIf="isSubmitted && errorControl.addres.errors?.required"
      >
        La direccion es necesaria.
      </span>

      <div class="col">
        <ion-button type="button" (click)="register()">Crear Cuenta</ion-button>  
        <ion-button type="button" (click)="changeImage()">Agregar info</ion-button>
      </div>
    </div>
  </form>

</ion-content>
